.content{
  margin-top: 60px;
}
footer{
  background: #333;
  color: white;
  height: 40px;
  text-align: center;
  padding-top: 10px;
  margin-top: 40px;
}
textarea{
  resize:none;
}
.full{
  width:100%;
}
.product-row{
  border-bottom: #ccc 1px solid;
  padding: 20px;
  margin-bottom: 10px;
}
.review-stars{
  height: 20px;
  width: 20px;
}
