<template name='product'>
  <h3> {{name}} </h3>
  <div class='row product-row'>
    <div class='col-md-2'>
      <img class='full' src='{{image}}'>
    </div>
    <div class='col-md-10'>
      <h4>{{name}}</h4>
      <p> Average Rating: {{avgRating reviews}} ({{reviews.length}})</p>
      <p> {{description}} </p>
      <a href="/categories/{{category}}" class='btn btn-default'>Back</a>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-12'>
      <div class='text-right'>
        {{#if currentUser}}
          <a href='/new_review/{{_id}}' class='btn btn-success'>Leave a Review</a>
        {{/if}}
      </div>
    </div>
  </div>
  <hr>
  <h4>Reviews and Rating</h4>
  <div class='row'>
    <div class='col-md-10'>
      <p></p>
      {{#each reviews}}
        <p>{{starRating rating}}</p>
        <h5>{{body}} - <small>Review posted on {{formatDate createdAt}}</small></h5>
      {{/each}}
    </div>
    <div class='col-md-2'>
    </div>
  </div>
</template>
